/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue{
    background-color: #1b72e8;
    /* DEBUG */
    min-height: 80px;
}

.opac{
    opacity: 0.5;
}

.col-12 img{
    width: 100%;
}



/* DEBUG */
.debug{
    border: 1px solid red;
}

.debug-h{
    min-height: 50px;
}
/* NAV BAR SETTINGS */
.search-bar input{
    width: 95%;
}

#navigator img{
    width: 100%;
}


/* SETTINGS FOR PAGE*/

/* Background menu */
#bk-grd{
    background-color: #f7f7f7;
}

/* DEBUG LEFT MENU */

/* Left menu */
#left-menu{
    background-color: #0c253b;
    height: calc(100vh - 70px);
}

#left-menu span{
    bottom: 5px;
    color: #f7f7f7;
}

#left-menu ul li{
    color: #f7f7f7;
    list-style: none;
}

#sets ul{
    padding-left: 0rem;
}

#sets ul li i{
   font-size: 15px;
   padding-top: 15px;
}


/* BLUE BAR */

.text-bg-dark{
    background-color: rgba(0, 0, 0, 0.5);
}

/* Box of titol of main */
.boxing{
    border: 1px solid black;
    
}

/* Lists */
.blkk{
    list-style: none;
}


/* TABLE SETTINGS */
.table.no-vertical-borders td,.table.no-vertical-borders th {
    border-left: none;
    border-right: none;
}