/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.debug{
    border: 1px solid red;
}




/* SETTINGS FOR PAGE*/

/* DEBUG NAVBAR*/
nav .col-12{
    min-height: 70px;
}

/* DEBUG LEFT MENU */
menu .col-2{
    height: calc(100vh - 70px);
}
